@{
    ViewData["Title"] = "Editar Endereço";
}

<form>
    <div class="form-group">
        <label for="apelido-endereco-cliente">Apelido endereço:</label>
        <input type="text" class="form-control" id="apelido-endereco-cliente" placeholder="Apelido">
    </div>
    <div class="form-group">
        <label for="cep-endereco-cliente">CEP:</label>
        <input type="text" class="form-control" id="cep-endereco-cliente" placeholder="CEP">
    </div>
    <div class="form-group">
        <label for="tipoLogradouro-endereco-cliente">Tipo Logradouro:</label>
        <select class="form-control" id="tipoLogradouro-endereco-cliente">
            <option value="">Avenida</option>
            <option value="">Rua</option>
            <option value="">Travessa</option>
        </select>
    </div>
    <div class="form-group">
        <label for="logradouro-endereco-cliente">Logradouro:</label>
        <input type="text" class="form-control" id="logradouro-endereco-cliente" placeholder="Logradouro">
    </div>
    <div class="form-group">
        <label for="numero-endereco-cliente">Numero:</label>
        <input type="text" class="form-control" id="numero-endereco-cliente" placeholder="Numero">
    </div>
    <div class="form-group">
        <label for="bairro-endereco-cliente">Bairro:</label>
        <input type="text" class="form-control" id="bairro-endereco-cliente" placeholder="Bairro">
    </div>
    <div class="form-group">
        <label for="tipoLogradouro-endereco-cliente">Pais:</label>
        <select class="form-control" id="tipoLogradouro-endereco-cliente">
            <option value="">Brasil</option>
            <option value="">Estados Unidos</option>
            <option value="">Canada</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tipoLogradouro-endereco-cliente">Estado:</label>
        <select class="form-control" id="tipoLogradouro-endereco-cliente">
            <option value="">São Paulo</option>
            <option value="">Minas Gerais</option>
            <option value="">Rio de Janeiro</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tipoLogradouro-endereco-cliente">Cidade:</label>
        <select class="form-control" id="tipoLogradouro-endereco-cliente">
            <option value="">Mogi das Cruzes</option>
            <option value="">São Paulo</option>
            <option value="">Suzano</option>
        </select>
    </div>
    <div class="form-group">
        <label for="numero-endereco-cliente">Observação:</label>
        <input type="text" class="form-control" id="numero-endereco-cliente" placeholder="Observação">
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
</form>