
<form>
    <div class="form-group">
        <label for="nome-produto">Nome Produto:</label>
        <input type="text" class="form-control" id="nome-produto" placeholder="Nome produto">
    </div>
    <div class="form-group">
        <label for="marca-produto">Marca:</label>
        <input type="text" class="form-control" id="marca-produto" placeholder="Marca">
    </div>
    <div class="form-group">
        <label for="valor-bruto-produto">Valor:</label>
        <input type="number" class="form-control" id="valor-bruto-produto">
    </div>
</form>